In [30]:
import pandas as pd
import numpy as np
import datetime

#### Now let's read the data files and study them to grasp more practical information. In order to study the data files, we load some of their rows, get their information, get their description and check if there is any null values in the data. Such functions are indispensable parts of Exploratory Data Analysis (EDA).
##### Note that in df_movies dataframe, there is no numerical data values (although IDs are numbers, they are not numerical), therefore calling description function on them would be meaningless.

In [31]:
df_movies = pd.read_csv('./data/movielens-1m/movies.dat', sep='::', encoding='ISO-8859-1', engine='python', names=['MovieID', 'Title', 'Genres'])
df_movies.head(), df_movies.shape

(   MovieID                               Title                        Genres
 0        1                    Toy Story (1995)   Animation|Children's|Comedy
 1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
 2        3             Grumpier Old Men (1995)                Comedy|Romance
 3        4            Waiting to Exhale (1995)                  Comedy|Drama
 4        5  Father of the Bride Part II (1995)                        Comedy,
 (3883, 3))

In [32]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MovieID  3883 non-null   int64
 1   Title    3883 non-null   object
 2   Genres   3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [33]:
df_movies.isna().sum()

MovieID    0
Title      0
Genres     0
dtype: int64

In [34]:
df_users = pd.read_csv('./data/movielens-1m/users.dat', sep='::', encoding='ISO-8859-1', engine='python', names=['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code'])
df_users.head(), df_users.shape

(   UserID Gender  Age  Occupation Zip-code
 0       1      F    1          10    48067
 1       2      M   56          16    70072
 2       3      M   25          15    55117
 3       4      M   45           7    02460
 4       5      M   25          20    55455,
 (6040, 5))

In [35]:
df_users.describe()

            UserID          Age   Occupation
count  6040.000000  6040.000000  6040.000000
mean   3020.500000    30.639238     8.146854
std    1743.742145    12.895962     6.329511
min       1.000000     1.000000     0.000000
25%    1510.750000    25.000000     3.000000
50%    3020.500000    25.000000     7.000000
75%    4530.250000    35.000000    14.000000
max    6040.000000    56.000000    20.000000

In [36]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UserID      6040 non-null   int64
 1   Gender      6040 non-null   object
 2   Age         6040 non-null   int64
 3   Occupation  6040 non-null   int64
 4   Zip-code    6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB

In [37]:
df_users.isna().sum()

UserID        0
Gender        0
Age           0
Occupation    0
Zip-code      0
dtype: int64

In [38]:
df_ratings = pd.read_csv('./data/movielens-1m/ratings.dat', sep='::', encoding='ISO-8859-1', engine='python', names=['UserID', 'MovieID', 'Rating', 'Timestamp'])
df_ratings.head(), df_ratings.shape

(   UserID  MovieID  Rating  Timestamp
 0       1     1193       5  978300760
 1       1      661       3  978302109
 2       1      914       3  978301968
 3       1     3408       4  978300275
 4       1     2355       5  978824291,
 (1000209, 4))

In [39]:
df_ratings.describe()

             UserID       MovieID        Rating     Timestamp
count  1.000209e+06  1.000209e+06  1.000209e+06  1.000209e+06
mean   3.024512e+03  1.865540e+03  3.581564e+00  9.722437e+08
std    1.728413e+03  1.096041e+03  1.117102e+00  1.215256e+07
min    1.000000e+00  1.000000e+00  1.000000e+00  9.567039e+08
25%    1.506000e+03  1.030000e+03  3.000000e+00  9.653026e+08
50%    3.070000e+03  1.835000e+03  4.000000e+00  9.730180e+08
75%    4.476000e+03  2.770000e+03  4.000000e+00  9.752209e+08
max    6.040000e+03  3.952000e+03  5.000000e+00  1.046455e+09

In [40]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   UserID     1000209 non-null  int64
 1   MovieID    1000209 non-null  int64
 2   Rating     1000209 non-null  int64
 3   Timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

In [41]:
df_ratings.isna().sum()

UserID       0
MovieID      0
Rating       0
Timestamp    0
dtype: int64

In [42]:
df_ratings.Rating.value_counts()

4    348971
3    261197
5    226310
2    107557
1     56174
Name: Rating, dtype: int64

#### Regarding quality and dtype of columns in the dataset files, we would apply some feature engineering operations in order to bring more practicality to the data.
##### In the following boxes, we would convert the data structure presented for Genres to a more convenient shape for analysis.

In [43]:
df_temp = pd.DataFrame()
df_temp['Genres'] = df_movies.Genres.str.split('|')
df_temp.head()

                             Genres
0   [Animation, Children's, Comedy]
1  [Adventure, Children's, Fantasy]
2                 [Comedy, Romance]
3                   [Comedy, Drama]
4                          [Comedy]

In [44]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
genres = mlb.fit_transform(df_temp.Genres)
list_name_genres = mlb.classes_.tolist()

In [45]:
df_movies_mod = pd.concat([df_movies, pd.DataFrame(genres, columns=list_name_genres)], axis=1)
df_movies_mod.head()

,MovieID,Title,Genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

##### In the following boxes, we would extract the year of movie production and batch them.

In [46]:
df_movies_mod['Year'] = df_movies.Title.str.strip().apply(lambda x:int(x[-5: -1]))
df_movies_mod.Year = pd.cut(df_movies_mod.Year, bins=5, labels=[1920, 1940, 1960, 1980, 2000])
df_movies_mod.head()

,MovieID,Title,Genres,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Year
0,1,Toy Story (1995),Animation|Children's|Comedy,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2000
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2000
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,2000
3,4,Waiting to Exhale (1995),Comedy|Drama,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2000
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2000

##### Here we would convert Timestamp data to Datetime in the rating table.

In [47]:
df_ratings['Datetime'] = pd.to_datetime(df_ratings.Timestamp, unit='s')
df_ratings.head()

   UserID  MovieID  Rating  Timestamp            Datetime
0       1     1193       5  978300760 2000-12-31 22:12:40
1       1      661       3  978302109 2000-12-31 22:35:09
2       1      914       3  978301968 2000-12-31 22:32:48
3       1     3408       4  978300275 2000-12-31 22:04:35
4       1     2355       5  978824291 2001-01-06 23:38:11

#### In the following, we are going to deal with numerical data requiring some aggregations on the whole. Essentially, training-data and test-data should  be separated as the test section has to get no hints from train section information. In this regard, it is important to section them before any comprehensive aggregation functions, and apply the aggregations on them individually.
##### In the following boxes, we separate the train and test data considering a time boundary.

In [48]:
df_ratings.Datetime.max(), df_ratings.Datetime.min(), df_ratings.Datetime.quantile()

(Timestamp('2003-02-28 17:49:50'),
 Timestamp('2000-04-25 23:05:32'),
 Timestamp('2000-10-31 18:46:46'))

In [49]:
df_rating_train = df_ratings[df_ratings.Datetime < datetime.datetime(2001, 1, 1)]
df_rating_test = df_ratings[df_ratings.Datetime >= datetime.datetime(2001, 1, 1)]
df_rating_train.shape, df_rating_test.shape

((904757, 5), (95452, 5))

##### In regard to the training-data (df_rating_train), in the following box we would calculate the average rating that each movie has obtained throughout the time; the null values will get filled with mean of other non-null ratings.

In [50]:
df_movies_mod_train = df_movies_mod.copy()
df_temp = df_rating_train.groupby(by='MovieID').Rating.mean().round(1).reset_index()
df_movies_mod_train['MovieAvgRating'] = df_movies_mod_train.merge(df_temp, on='MovieID', how='left').Rating
df_movies_mod_train.MovieAvgRating = df_movies_mod_train.MovieAvgRating.fillna(df_movies_mod_train.MovieAvgRating.mean()).round(1)
df_movies_mod_train.head(), df_movies_mod_train.shape, df_movies_mod_train.MovieAvgRating.isna().sum()

(   MovieID                               Title                        Genres  \
 0        1                    Toy Story (1995)   Animation|Children's|Comedy
 1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
 2        3             Grumpier Old Men (1995)                Comedy|Romance
 3        4            Waiting to Exhale (1995)                  Comedy|Drama
 4        5  Father of the Bride Part II (1995)                        Comedy

    Action  Adventure  Animation  Children's  Comedy  Crime  Documentary  ...  \
 0       0          0          1           1       1      0            0  ...
 1       0          1          0           1       0      0            0  ...
 2       0          0          0           0       1      0            0  ...
 3       0          0          0           0       1      0            0  ...
 4       0          0          0           0       1      0            0  ...

    Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western  Year  \
 0       0        0        0        0       0         0    0        0  2000
 1       0        0        0        0       0         0    0        0  2000
 2       0        0        0        1       0         0    0        0  2000
 3       0        0        0        0       0         0    0        0  2000
 4       0        0        0        0       0         0    0        0  2000

    MovieAvgRating
 0             4.1
 1             3.2
 2             3.0
 3             2.7
 4             3.0

 [5 rows x 23 columns],
 (3883, 23),
 0)

##### In regard to the training-data (df_rating_train), in the following box we would calculate the average of ratings of each user independently. In this matter, we can evaluate how strict each user is; the null values will get filled with mean of other non-null ratings.

In [51]:
df_users_mod_train = df_users.copy()
df_temp = df_rating_train.groupby(by='UserID').Rating.mean().round(1).reset_index()
df_users_mod_train['UserAvgRating'] = df_users_mod_train.merge(df_temp, on='UserID', how='left').Rating
df_users_mod_train.UserAvgRating = df_users_mod_train.UserAvgRating.fillna(df_users_mod_train.UserAvgRating.mean()).round(1)
df_users_mod_train.head(), df_users_mod_train.shape, df_users_mod_train.UserAvgRating.isna().sum()

(   UserID Gender  Age  Occupation Zip-code  UserAvgRating
 0       1      F    1          10    48067            4.2
 1       2      M   56          16    70072            3.7
 2       3      M   25          15    55117            3.9
 3       4      M   45           7    02460            4.2
 4       5      M   25          20    55455            3.1,
 (6040, 6),
 0)

##### In regard to the training-data (df_rating_train), in the following box we would calculate the favorite genre for users that have participated in the training-data; the null values will get filled with "unknown".

In [52]:
df_temp = df_rating_train.drop(columns=['Rating', 'Timestamp', 'Datetime']).merge(df_movies_mod.drop(columns=['Title', 'Genres', 'Year']), on='MovieID')
df_temp = df_temp.drop(columns=['MovieID']).groupby(by='UserID').sum().reset_index()
df_temp['FavGenre'] = df_temp[list_name_genres].idxmax(axis=1)
df_users_mod_train['FavGenre'] = df_users_mod_train.merge(df_temp, on='UserID', how='left').FavGenre
df_users_mod_train.FavGenre = df_users_mod_train.FavGenre.fillna('unknown')
df_users_mod_train.head(), df_users_mod_train.shape, df_users_mod_train.FavGenre.isna().sum()

(   UserID Gender  Age  Occupation Zip-code  UserAvgRating FavGenre
 0       1      F    1          10    48067            4.2    Drama
 1       2      M   56          16    70072            3.7    Drama
 2       3      M   25          15    55117            3.9   Comedy
 3       4      M   45           7    02460            4.2   Action
 4       5      M   25          20    55455            3.1    Drama,
 (6040, 7),
 0)

##### In regard to the training-data, in the following box we would concatenate prepared features beneficial for the training process.

In [53]:
df_train_final = df_rating_train.copy()
df_train_final = df_train_final.merge(df_users_mod_train, on='UserID')
df_train_final = df_train_final.merge(df_movies_mod_train, on='MovieID')
df_train_final = df_train_final[['UserAvgRating', 'Occupation', 'Gender', 'Age', 'FavGenre', 'MovieAvgRating', 'Genres', 'Year', 'Rating']]
df_train_final.head(), df_train_final.shape

(   UserAvgRating  Occupation Gender  Age FavGenre  MovieAvgRating Genres  \
 0            4.2          10      F    1    Drama             4.4  Drama
 1            3.7          16      M   56    Drama             4.4  Drama
 2            3.8          12      M   25    Drama             4.4  Drama
 3            3.3           7      M   25    Drama             4.4  Drama
 4            4.1           1      M   50   Sci-Fi             4.4  Drama

    Year  Rating
 0  1980       5
 1  1980       5
 2  1980       4
 3  1980       4
 4  1980       5  ,
 (904757, 9))

In [54]:
df_train_final.to_csv('./data/processed_data/train_data.csv', index=False, sep='^')

##### Now, all the previous steps have to be applied to the test data.

In [55]:
df_movies_mod_test = df_movies_mod.copy()
df_temp = df_rating_test.groupby(by='MovieID').Rating.mean().round(1).reset_index()
df_movies_mod_test['MovieAvgRating'] = df_movies_mod_test.merge(df_temp, on='MovieID', how='left').Rating
df_movies_mod_test.MovieAvgRating = df_movies_mod_test.MovieAvgRating.fillna(df_movies_mod_test.MovieAvgRating.mean()).round(1)
df_movies_mod_test.head(), df_movies_mod_test.shape, df_movies_mod_test.MovieAvgRating.isna().sum()

(   MovieID                               Title                        Genres  \
 0        1                    Toy Story (1995)   Animation|Children's|Comedy
 1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
 2        3             Grumpier Old Men (1995)                Comedy|Romance
 3        4            Waiting to Exhale (1995)                  Comedy|Drama
 4        5  Father of the Bride Part II (1995)                        Comedy

    Action  Adventure  Animation  Children's  Comedy  Crime  Documentary  ...  \
 0       0          0          1           1       1      0            0  ...
 1       0          1          0           1       0      0            0  ...
 2       0          0          0           0       1      0            0  ...
 3       0          0          0           0       1      0            0  ...
 4       0          0          0           0       1      0            0  ...

    Horror  Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western  Year  \
 0       0        0        0        0       0         0    0        0  2000
 1       0        0        0        0       0         0    0        0  2000
 2       0        0        0        1       0         0    0        0  2000
 3       0        0        0        0       0         0    0        0  2000
 4       0        0        0        0       0         0    0        0  2000

    MovieAvgRating
 0             4.1
 1             3.2
 2             2.9
 3             2.9
 4             3.2

 [5 rows x 23 columns],
 (3883, 23),
 0)

In [56]:
df_users_mod_test = df_users.copy()
df_temp = df_rating_test.groupby(by='UserID').Rating.mean().round(1).reset_index()
df_users_mod_test['UserAvgRating'] = df_users_mod_test.merge(df_temp, on='UserID', how='left').Rating
df_users_mod_test.UserAvgRating = df_users_mod_test.UserAvgRating.fillna(df_users_mod_test.UserAvgRating.mean()).round(1)
df_users_mod_test.head(), df_users_mod_test.shape, df_users_mod_test.UserAvgRating.isna().sum()

(   UserID Gender  Age  Occupation Zip-code  UserAvgRating
 0       1      F    1          10    48067            4.2
 1       2      M   56          16    70072            3.6
 2       3      M   25          15    55117            3.6
 3       4      M   45           7    02460            3.6
 4       5      M   25          20    55455            3.6,
 (6040, 6),
 0)

In [57]:
df_temp = df_rating_test.drop(columns=['Rating', 'Timestamp', 'Datetime']).merge(df_movies_mod.drop(columns=['Title', 'Genres', 'Year']), on='MovieID')
df_temp = df_temp.drop(columns=['MovieID']).groupby(by='UserID').sum().reset_index()
df_temp['FavGenre'] = df_temp[list_name_genres].idxmax(axis=1)
df_users_mod_test['FavGenre'] = df_users_mod_test.merge(df_temp, on='UserID', how='left').FavGenre
df_users_mod_test.FavGenre = df_users_mod_test.FavGenre.fillna('unknown')
df_users_mod_test.head(), df_users_mod_test.shape, df_users_mod_test.FavGenre.isna().sum()

(   UserID Gender  Age  Occupation Zip-code  UserAvgRating   FavGenre
 0       1      F    1          10    48067            4.2  Animation
 1       2      M   56          16    70072            3.6    unknown
 2       3      M   25          15    55117            3.6    unknown
 3       4      M   45           7    02460            3.6    unknown
 4       5      M   25          20    55455            3.6    unknown,
 (6040, 7),
 0)

In [58]:
df_test_final = df_rating_test.copy()
df_test_final = df_test_final.merge(df_users_mod_test, on='UserID')
df_test_final = df_test_final.merge(df_movies_mod_test, on='MovieID')
df_test_final = df_test_final[['UserAvgRating', 'Occupation', 'Gender', 'Age', 'FavGenre', 'MovieAvgRating', 'Genres', 'Year', 'Rating']]
df_test_final.head(), df_test_final.shape

(   UserAvgRating  Occupation Gender  Age   FavGenre  MovieAvgRating  \
 0            4.2          10      F    1  Animation             3.8
 1            2.9           1      F   25     Comedy             3.8
 2            3.5          10      M    1     Comedy             3.8
 3            3.3           0      M   35     Sci-Fi             3.8
 4            3.8           4      M   18     Comedy             3.8

                         Genres  Year  Rating
 0  Animation|Children's|Comedy  2000       5
 1  Animation|Children's|Comedy  2000       1
 2  Animation|Children's|Comedy  2000       5
 3  Animation|Children's|Comedy  2000       3
 4  Animation|Children's|Comedy  2000       4  ,
 (95452, 9))

In [59]:
df_test_final.to_csv('./data/processed_data/validation_data.csv', index=False, sep='^')